* {
    margin: 0;
    border: 0;
    padding: 0;
    align-items:center;
  }

  .container{
      text-align:center;
      width:50%;
      border-radius:8px;
      padding:60px;
      margin:0 auto;
      height:auto;
  }

  table{
      background-color:green;
      margin:0px auto;
  }

  input[type="button"] {
    color: black;
    border: solid black 2px;
    border-radius: 6px;
    width: 50px;
    height:40px;
}

input[type="text"] {
    border: solid black 2px;
    width: 95%;
    height:30px;
}